<html>
<head>
	<title>Add program</title>
	<link rel="stylesheet" href="/AssetsController/readCss?file=example.css">
</head>
<body>
	<div class="demo">
	<header>
	<table id="t">
		<tr>
			<th width="24.4%"><span class="align-middle"><h1 style="float:left">Java</h1></span></th>
			<th width="33.3%" style="padding-top:25px"><span class="align-middle"><h1 style="float:middle">Add Program</h1></span></th>
			<th width="24.4%">
			<div class="dropdown" style="float:right;">
						<a href=#popup1>
							<button class="dropbtn" >&nbsp;&nbsp;<img src=/AssetsController/image?file=user.png style=float:left;>Guest</button></a>
						<div id="popup1" class="overlay">
							<div class="popup">
							<a class="close" href="#">&times;</a>
							<div class="content">
								<form name="frmSite" action = "/UsersController/updateProfile?file=profile" method = "get">
									<pre style="color:black"> Name     : <input type = "text" name = "username" value = "id1" placeholder = "username"/></pre>
									<pre style="color:black"> Email    : <input type = "email" name = "email" value = "id2"  placeholder = "email"/></pre>
									<pre style="color:black">Address   : <input type = "text" name = "address" value = "3dx"  placeholder = "address"/></pre>
									<input type = "submit" value = "Submit">
								</form>
							</div>
						</div>
					</div>
						<div class="dropdown-content" style = "padding:14px 32px;">
													<a href="/ProgramsController/index?file=index">&nbsp;&nbsp;<img src="/AssetsController/image?file=homepage.png" style="float:left;">Home Page</a>
						<a href="/UsersController/login?file=login">&nbsp;&nbsp;<img src="/AssetsController/image?file=login.png" style="float:left;">LogIn</a>
						<a href="/UsersController/signUp?file=signup">&nbsp;&nbsp;<img src="/AssetsController/image?file=singup.png" style="float:left;">SignUp</a>
						<a href="/UsersController/contactUs?file=contact">&nbsp;&nbsp;<img src="/AssetsController/image?file=contact.png" style="float:left;">Contact Us</a>
						<a href="/HistoriesController/loginHistory?file=history">&nbsp;&nbsp;<img src="/AssetsController/image?file=history.png" style="float:left;">Login History</a>
						<a href="javascript: history.go(-1)">&nbsp;&nbsp;<img src="/AssetsController/image?file=back.png" style="float:left;">Back</a>
						<a href="/UsersController/logout?file=logout">&nbsp;&nbsp;<img src="/AssetsController/image?file=logout.png" style="float:left;">Logout</a>
					</div>
				</div>
			</th>
		</tr>
	</table>
</header>
</div>
<div style = "width:40%; height:60%; margin:auto;">
	<p id="errfn">   </p>
<center>
	<form action = "/ProgramsController/addProgram?file=add" method ="get" name="myform" onsubmit="return validate()"><br/><br/>	
		<table><tr><td>Program Name:</td><td>
		<input type = "text" name = "pname" value = "prt" size="56" placeholder = "Program name" /></td></tr>
			<tr><td>Description : </td><td>
		<textarea  align = "left" name = "input"  rows="15" cols="60" id="errfn2" onsubmit="return validate()">
			<h1>tag</h1>
		</textarea></td></tr>
		<tr><td>Source code : </td><td>
		<textarea  align = "left"  name = "output"  rows="15" cols="60">
			<h1>tag1</h1>
			</textarea></td></tr></table><center>
		<input type = "submit" value = "ADD PROGRAM" id=button></center>
	</form>
</center>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/>
</div>
<script type="text/javascript">
 function validate() {
  if(myform.pname.value.length==0)
  {
		document.getElementById('errfn').innerHTML="Please enter valid name";
		return false;
  }
  if(myform.input.value=="")
  {
		document.getElementById('errfn').innerHTML="Please enter valid description";
		return false;
  }
  if(myform.output.value.length==0)
  {
		document.getElementById('errfn').innerHTML="Please enter valid source code";
		return false;
  }
 }
 </script>
<div class="memo">
	<footer>
			<div style ="float:left;padding-top:30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COPYRIGHT@JYOTI VAKARE</div>
			<div style = "padding-top:25px;float:right;">
			<a href="https://www.facebook.com/jyoti.vakare" style="padding-right:40px;float:right;" target="_blank"><img src="/AssetsController/image?file=fb_icon_325x325.png" alt="facebook" width="40" height ="40"  hspace="8"></a>
			<a href="https://www.instagram.com/jyotivakare/" style="float:right" target="_blank"><img src="/AssetsController/image?file=youtube.png" alt="youtube" width="40" height ="40"></a>
			</div>
	</footer>
</div>
</body>
</html>
