<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" href="/AssetsController/readCss?file=example.css" media="screen">
	<script src="/AssetsController/readJs?file=index.js"></script>
	<script src="/AssetsController/readJs?file=popup.js"></script>
	<script src="/AssetsController/readJs?file=pagination.js"></script>
</head>
	<body>
		<div class="demo">
		<header>
			
			<table id="t"  width="100%">
				<tr><th width="24.4%"><span class="align-middle"><h1 style="float:left;">Java</h1></span></th>
					<th width="33.3%" style="padding-top:25px"><span class="align-middle"><h1 style="style=float:middle;">Programs List</h1></span></th>
					<th width="24.4%">
					<div class="dropdown" style="float:right;">
						<a>
							<div class="dropbtn" >&nbsp;&nbsp;<img src=/AssetsController/image?file=user.png style=float:left;>Guest</div></a>
							<div id="id01">
								<div id="popup1" class="overlay" >
									<div class="popup">
									<a class="close" href="#">&times;</a>
									<div class="content">
										<form name="frmSite" action = "/UsersController/updateProfile?file=profile" method = "get">
											<pre style="color:black">Name     : <input type = "text" name = "username" value = "id1" placeholder = "username"/></pre>
											<pre style="color:black"> Email    : <input type = "email" name = "email" value = "id2"  placeholder = "email"/></pre>
											<pre style="color:black">Address   : <input type = "text" name = "address" value = "3dx"  placeholder = "address"/></pre>
											<input type = "submit" value = "Submit">
										</form>
									</div>
								</div>
							</div>
							</div>
						<div class="dropdown-content" style = "padding:14px 0px;">
							<a href="/UsersController/login?file=login">&nbsp;&nbsp;<img src="/AssetsController/image?file=login.png" style="float:left;" >LogIn</a>
							<a href="/UsersController/signUp?file=signup">&nbsp;&nbsp;<img src="/AssetsController/image?file=signup.png" style="float:left;">SignUp</a>
							<a href="/UsersController/contactUs?file=contact">&nbsp;&nbsp;<img src="/AssetsController/image?file=contact.png" style="float:left;">Contact Us</a>
						</div>
					</div>
					</th>
				</tr>
			</table>
			</div>
		</header>
		</div>
		<center>
		<table id="myTable">
		<tr>
		<th>SLNO</th>
		<th><img src="/AssetsController/image?file=ascending.png" onclick="sortTable('1')" hspace="20"/>&nbsp;&nbsp;Program Name&nbsp;&nbsp;<img src="/AssetsController/image?file=descending.png" onclick="sortTable1('1')" hspace="20"/></th>
		<th>Action</th>
		</tr>
        <h1>remaining content</h1>
        </center>
       </table> 
       <br/>
        <br/>
        <br/>
        <br/> 

<div class="memo">
	<footer>
			<div style ="float:left;padding-top:30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COPYRIGHT@JYOTI VAKARE</div>
			<div style = "padding-top:25px;float:right;">
			<a href="https://www.facebook.com/jyoti.vakare" style="padding-right:40px;float:right;" target="_blank"><img src="/AssetsController/image?file=fb_icon_325x325.png" alt="facebook" width="40" height ="40" hspace="8"></a>
			<a href="https://www.instagram.com/jyotivakare/" style="float:right" target="_blank"><img src="/AssetsController/image?file=youtube.png" alt="youtube" width="40" height ="40"></a>
			</div>
	</footer>
</div>
</body>
</html>
