<html>
<head>
	<title>Update Program</title>
<link rel="stylesheet" href="/AssetsController/readCss?file=example.css">
</head>
<body>
<div class="demo">
	<header>
	<table id="t">
		<tr>
			<th width="24.4%"><span class="align-middle"><h1 style="float:left;padding-left:20px;">Java</h1></span></th>
			<th width="33.3%" style="padding-top:25px"><span class="align-middle"><h1 style="float:middle">Update</h1></span></th>
			<th width="24.4%">
			<div class="dropdown" style="float:right;">
						<a href=#popup1>
							<button class="dropbtn" >&nbsp;&nbsp;<img src=/AssetsController/image?file=user.png style=float:left;>Guest</button></a>
						<div id="popup1" class="overlay">
							<div class="popup">
							<a class="close" href="#">&times;</a>
							<div class="content">
								<form name="frmSite" action = "/UsersController/updateProfile?file=profile" method = "get">
									<pre style="color:black"> Name     : <input type = "text" name = "username" value = "id1" placeholder = "username"/></pre>
									<pre style="color:black"> Email    : <input type = "email" name = "email" value = "id2"  placeholder = "email"/></pre>
									<pre style="color:black">Address   : <input type = "text" name = "address" value = "3dx"  placeholder = "address"/></pre>
									<input type = "submit" value = "Submit">
								</form>
							</div>
						</div>
					</div>
						<div class="dropdown-content" style = "padding:14px 0px;">
							<a href="/ProgramsController/index?file=index">&nbsp;&nbsp;<img src="/AssetsController/image?file=homepage.png" style="float:left;">Home Page</a>
						<a href="/UsersController/login?file=login">&nbsp;&nbsp;<img src="/AssetsController/image?file=login.png" style="float:left;">Login</a>
						<a href="/UsersController/signUp?file=signup">&nbsp;&nbsp;<img src="/AssetsController/image?file=signup.png" style="float:left;">SignUp</a>
						<a href="/UsersController/contactUs?file=contact">&nbsp;&nbsp;<img src="/AssetsController/image?file=contact.png" style="float:left;">Contact Us</a>
						
					</div>
				</div>
			</th>
		</tr>
	</table>
</header>
</div>
<br/>
<br/>	
<div style = "width:40%; height:60%; margin:auto;">
<center>
<form  action = "" method = "get">
	<pre> Name             :    <input type = "text" name = "name"required placeholder = "name" /></pre>
	<pre> Email            :    <input type = "email" name = "email" required placeholder = "email" /></pre>
	<pre>Address           :    <input type = "text" name = "address"required placeholder = "address"/></pre>
	<input type="submit" value="Submit" id="button">SUBMIT
	<input type="reset" value="Reset" id="button">CANCEL
</form>
</center>
</div>

<div class="memo">
	<footer>
			<div style ="float:left;padding-top:30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;COPYRIGHT@JYOTI VAKARE</div>
			<div style = "padding-top:25px;float:right;">
			<a href="https://www.facebook.com/jyoti.vakare" style="padding-right:40px;float:right;" target="_blank"><img src="/AssetsController/image?file=fb_icon_325x325.png" alt="facebook" width="40" height ="40"  hspace="8"></a>
			<a href="https://www.instagram.com/jyotivakare/" style="float:right" target="_blank"><img src="/AssetsController/image?file=youtube.png" alt="youtube" width="40" height ="40"></a>
			</div>
	</footer>
</div>
</body>
</html>

